<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="target(first,second)">
        <style>
            .c1{
                background-color: red;
            }
            .c2{
                background-color: beige;
            }
        </style>

        <div class="c1">
            <th:bloack th:replace="${first}"></th:bloack>
        </div>
        <div class="c2">
            <th:bloack th:replace="${second}"></th:bloack>
        </div>
    </div>
</body>
</html>