<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 <!-- 이 설정으로 인해 boardMapper에 반복적인 resultType을 명시해주지 않아도 된다 -->
 	<typeAliases>
 		<package name="org.zerock.domain"/>
 	</typeAliases>
 </configuration>